*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    && img{
        width: 10vw;
        height: 20vh;
        margin: 20px;
    }
}

.title{
    width: 400px;
    height: 100px;
}

body{
    background-color: #252323;
}

.search{
    display: flex;
    justify-content: center;
    margin: 70px 10px 70px;
}

.campo{
    padding: 10px;
    width: 250px;
    font-size: 15px;
}

.submit{
    background-color: #59B339;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}

.galeria{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr; /* 3 colunas */
    gap: 20px; 
}

.personagem{
    display: flex;
    background-color: #131413;
    width: 350px;
    padding: 30px;
    color: aliceblue;
    border-radius: 10px;
}

.personagem-img{
    width: 180px;
}

.name{
    margin: 20px;
}